<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Relógio de ponto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="height-100">
  <ion-grid class="height-100"> 
    <ion-row class="height-100 ion-align-items-center" > 
        <ion-col>
          <div id="divRelogio" class="ion-text-center" >{{ relogio }}</div>
          <div id="divdata" class="ion-text-center"></div>
          <div id="divTurno" class="ion-text-center"></div>
          <div id="divFinger" class="ion-text-center">
            <ion-icon name="finger-print"></ion-icon>
          </div>
        </ion-col>
    </ion-row> 
  </ion-grid>

  
  
</ion-content>
